// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Arial', sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$lockbox-color: #179f9d;
$medlist-color: #9888b5;
$hub-color: #d36582;
$message-color:  #dea771;
$team-color:  #35799f;


$primary-color: #369bb6;

$theme-colors: (
    "primary": #369bb6,
    "danger": #d8817d
);
