#careteam {
    .member {
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: #fafafa;
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;

        img{
            height: 50px;
        }

        .role{
            font-size: 12px;
            color: #999;
        }
    }

    .members > a{
        text-decoration: none;
    }
}