.menuDateCarepoints{
    font-size: 16px;
    line-height: 19px;
    background: none;
}

.btn-carepoints{
    font-size: 14px;
}

.name-event-subtitle{
    font-family: Gotham;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #cdcdd8 !important;
}

.member-img {
    background-color: #fff;
    // margin-left: -10px;
   // margin: 0 8px 0 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.member-name-event{
        /* height: 12px; */
         margin: 5px 10px 7px;
        //width: 24px;
        height: 12px;
        font-family: Gotham;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        /* text-align: left; */
        color: #78849e !important;
        display: block;
}

.icon-messages{
    width: 18px;
  height: 14px;
  margin: 12px 0 1px 4px;
  object-fit: contain;
  font-family: FontAwesome6Pro-Solid;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #369bb6;
}

.num-messages {
    height: 16px;
    margin: 10px -2px 1px 16px;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #369bb6;
  }

.lgi-carehub{
    padding: 0px !important;
    border: none !important;
}

.col-day {
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border: solid 1px #f6f6f9;
    padding-top: 10px;
    padding-right: 10px !important;
}
.mon{
    height: 15px;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #78849e;
  }

.Rectangle-289 {
    height: 40px;
    padding: 13px 0px 12px 0px;
    background-color: #f6f6f9;
}

.number_day {
    height: 15px;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: #78849e;
  }

//   .col-day:hover{
//       background: $hub-color;
//       color: #fff !important;
//   }

.number_day_ligth{
    color: #cdcdd8 !important;
}
  .box-day {
    color: #cdcdd8;
    line-height: 1;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.event_calendar{
   
  font-family: Gotham;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: $hub-color;

  .event-name-calendar{
      color: $hub-color !important;
      font-weight: 500;
  }

  .event-name-calendar:hover{
    font-weight: 600;
}
      
}

.box-now {
    margin-top: -10px;
    width: 28px;
    height: 28px;
    padding: 8px;
    box-shadow: 0 5px 15px 0 rgba(94, 102, 137, 0.2);
    background-color: $hub-color;
    color: #fff;
    // display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    border-radius: 50px 50px 50px 50px !important;
    float: right;
}

.box-search {
    
    background-color: #D46A54 !important;
    
}

.box-event {
    width: 50px;
    height: 50px;
    box-shadow: 0 5px 15px 0 rgba(94, 102, 137, 0.2);
    background-color: #369bb6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}



.box-day small,
.box-now small,
.week-box small {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 400;

}

.day_month,
.day_month_web {
    padding: 10px 0;
}

.day_month .week-box {
    background-color: $hub-color;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}

.bg-rose {
    background: $hub-color;
}

.day_month:nth-child(4) {
    border-radius: 50px 0px 0px 50px !important;
}

.day_month:nth-child(10) {
    border-radius: 0px 50px 50px 0px !important;
}

.btn-icon{
    padding: 6px 12px;
    border-radius: 8px !important;
}

.sel-no-bor{
    border: none !important;
    font-size: 12pt;
}

.carepoint-subtitle{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: $hub-color;
}


h3.time{
    font-size: 1.8em;
}

h5.name-event-title{
    font-size: 1em;
}
.col-icons{
    font-size: 25px;
}

@media only screen and (max-width: 767px) {
    .menuDate {
        font-size: .8rem;
        padding:7px 10px;
    }
    .col-day {
        justify-content: center;
        align-items: center;
        height: 52px;
        border: solid 1px #f6f6f9;
        display: flex;
        padding-right: 0px !important;
        padding-top: 0px;
    }

    .box-now {
        display: flex;
    }

    #calendar_div .col-day{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .box-event, .box-now{
        width:40px;
        height:40px;
    }
    h3.time{
        font-size: 1.5em;
    }
    .eventinf, .events{
        padding-left:5px !important;
        padding-right:5px !important;

    }

    .member-name-event{
        /* height: 12px; */
         margin: 2px 5px 3px;
        
    }

    .col-icons{
        padding-left: 0;
        padding-right: 35px;
    }
    

}

@media only screen and (max-width: 1100px) {
    
    .event-name-calendar{
        max-width: 45px;
    }

    h3.time{
        font-size: 1.5em;
    }

}



// --------------
// create Task
// --------------

#create_event{

    // Bootstrap switch
.custom-control-label::after{
        width: 1rem !important; 
        height: 1rem !important;
        top: 0.26rem;
}

.custom-control-label::before {
        height: 1rem !important;
        width: 1rem !important;
        top: 0.26rem;
}

#collapseMemers{
    .member{
        background-color: #f7f7fa;
        border: 0 !important;
        border-radius: 8px;
        padding: 8px 16px;
    }
}

input[type=date] {
    text-align: right;
  }
  
  input[type="date"]:before {
    content: attr(placeholder) !important;
    margin-right: 0.5em;
  }
  
  /* The customcheck */
  .ccheck{
      padding-left: 5px;
      padding-right: 5px;
  }
  .customcheck {
      display: block;
      position: relative;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .customcheck input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 0;
      right: 0;
      height: 25px;
      width: 25px;
      background-color: #fff;
      border-radius: 25px;
      border: 1px solid;
  }
  
  /* On mouse-over, add a grey background color */
  .customcheck:hover input ~ .checkmark {
      background-color: #369bb6;
  }
  
  /* When the checkbox is checked, add a blue background */
  .customcheck input:checked ~ .checkmark {
      background-color: #369bb6;
      border-radius: 25px;
      border:0;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  /* Show the checkmark when checked */
  .customcheck input:checked ~ .checkmark:after {
      display: block;
  }
  
  /* Style the checkmark/indicator */
  .customcheck .checkmark:after {
      left: 10px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      color:#78849e;
  }
  
  .customcheck .checkmark:after {
      left: 10px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      color:red;
  }
  .no-border{
      border:0;
  }
  .no-focus:focus { outline: none; } 
  .label{
      opacity: 0.5;
      color: #78849e;
      font-size: 10px;
      margin-bottom:0;
      padding-left: 11px;
      font-size: 18px;
  }
  
  .only-border-bottom{
      border: 0px ;
      border-bottom: solid 1px #cdcdd8;
      border-radius:0.25rem 0.25rem 0 0;
  }
  
   .dropdown-toggle::after{
      float:right;
      margin-top: .5em;
  }
  
  .introjs-fixParent {
    position: absolute;
  }
  
}
  @media only screen and (max-width: 370px) {
      #collapseMemers .card-body{
          padding: .35rem;
      }        
  
  }

  // ----------------------------------------------------------------------
  // Task Details
  // -----------------------------------------------------------------------

  .member-assing-img {
    background-color: #fff;
    margin-left: -10px !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.member-img-cab {
    background-color: #fff;
    margin-left: -16px !important;
    margin-bottom: -34px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid #fff 2px;
}
.spn-name{
    font-size: .8em;
}

.spn-time{
    font-size: .6em;
    color:#cdcdd8;
}
.message-details {
    // padding: 16.5px 0px 1.1px 4px;
    padding: 0.75rem 1.25rem;
    left: 15px;
    right: 15px;
    text-align: justify;
    border-radius: 8px;
    background-color: #f7f7fa;
    color: $primary-color;
}
.creator div.msg{
    left:10px;
    background-color: #369bb6;
    border-radius:15px;    
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
}

.member div.msg{
    right:10px;
    background-color: #78849e;
    border-radius:15px;
    right: 10px;
    background-color: #78849e;
    border-radius: 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
}

.creator div .member-img,.creator .member-img, .member div .member-img{
    margin-left: -35px !important;
    margin-top: -45px;
    width: 40px !important;
    border: solid #fff 2px;
}

.member div .member-img, .member .member-img{
    margin-right: -35px !important;
    margin-top: -25px;
    float: right;
    width: 40px !important;
    border: solid #fff 2px;
}

.time-msg-task{
    color:#78849e;
    font-size:10px;
}

#messagess-task-detail{


.pr-00{
        padding-right: 0 !important;
    }
}

.badge-chat{
    padding: 5px 0px;
    margin: 15px 0;
    font-weight: 100 !important;
    position: relative;
    z-index: 1;
    text-align: center;
    
    span{
        color: #78849e !important
    }
}


  .badge-chat:before {
    border-top: 2px solid $gray-color;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  .badge-chat span {
  
    background: #f8fafc;
    padding: 0 10px;
  }

  .task-date-title{
    
    //margin: 45px 231px 9px 140px;
    opacity: 0.56;
    font-family: Gotham;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #78849e;
    text-transform: uppercase;
  }


//   Resources

#condition-resource .card-img-top{
    max-height: 200px;
    border-radius: 12px
}
#slide-articles .card-img-top{
    max-height: 256px;
    border-radius: 12px
}

#topics .input-group-append .btn{
border:none !important;
color:#78849e !important;
border-radius: 0 99px 99px 0 !important;
background-color: #fff;
padding: 0px 25px;
box-shadow: 0 3px 6px 0 rgba(153, 153, 153, 0.1);
}
#topics .input-group #search{
border:none !important;
color:#78849e !important;
box-shadow: 0 3px 6px 0 rgba(153, 153, 153, 0.1);
padding: 10px 25px;
}

#topics h5{
font-size: 16px;
}

#topics .card-text .card-text-author{
color: #32a4ea !important;
}