#careteam {
    .member {
        border-radius: 6px;
        border: none;
        background-color: #f2f4f4;
        padding: 10px;
        margin-bottom: 20px;
        width: 46%;
        margin-right: 2%;
        overflow: hidden;

        img{
            height: 50px;
            border-radius: 50%;
        }

        .name{
            color: #000;
            font-weight: bold;
        }

        .role{
            font-size: 12px;
            color: #999;
        }

        .fa-times-circle{
            cursor: pointer;
        }

        .fas{
            color: #aaa;
        }
    }

    .newMember{
        text-decoration: none;
    }

    #inviteMemberModal, 
    #editMemberModal {


        
        // Bootstrap switch
        .custom-control-label::after{
            width:15px; 
            height:15px;
        }

        .custom-control-label::before {
            height: 19px;
            width: 32px;
        }

        form{
            background-color: #f5f5f5;
        }

        .section{
            background-color: #fff;
            border: 1px solid #eee;
            border-radius: 15px;
            padding: 10px;
            position: relative;
            width: 100%;
            margin-bottom: 20px;

            &.photo{
                padding: 0px;
                background-size: cover;
                // filter: saturate(10%);
                height: 200px;

                img.photo{
                    filter: opacity(20%);
                    width: auto;
                    height: 100%;
                    margin: auto;
                }

                .member-info{
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    color: #fff;
                    font-size: 16px;

                    strong{
                        font-size: 20px;
                    }

                    .role{
                        text-transform: uppercase;
                    }
                }
            }

            table {
                width: 100%;

                tr{
                    border-bottom: 1px solid #eee;

                    td{
                        padding: 10px;

                        &:nth-of-type(1){
                            width: 30%;
                            color: #aaa;
                        }

                        a {
                            color: #000;
                            text-decoration: none;
                        }

                        &.carehub{
                            font-size: 16px;
                            i { 
                                color: #f78383;
                                font-size: 18px;
                            }
                            span { 
                                color: #555; 
                            }
                        }

                        &.lockbox{
                            font-size: 16px;
                            i { 
                                color: #58c69c;
                                font-size: 18px;
                            }
                            span { 
                                color: #555; 
                            }
                        }

                        &.medlist{
                            font-size: 16px;
                            i { 
                                color: $teal;
                                font-size: 18px;
                            }
                            span { 
                                color: #555; 
                            }
                        }

                        &.resources{
                            font-size: 16px;
                            i { 
                                color: #155c9e;
                                font-size: 18px;
                            }
                            span { 
                                color: #555; 
                            }
                        }
                    }
                }
            }
        }
    }
}

#joinTeam {
    .invitations {

        strong{
            font-size: 16px;
        }

        .photo {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .role {
            font-size: 11px;
            color: #999;
            font-style: italic;
        }
    }
}