.users-container {
    position: relative;
    padding: 1rem;
    border-right: 1px solid #e6ecf3;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.chat_list {
    width: 100%;
    margin: 0;
    padding: 18px 16px 10px;
    cursor: pointer;
    background: #ffffff;
    border-bottom: 1px solid #f0f4f8;
    position: relative;
    box-shadow: 0px 2px 4px #e1e4e7;
    border-radius: 4px;
    margin-bottom: 10px;
}

.active_chat{
  border-bottom: 1px solid #f0f4f8;
  border-right: 5px solid #359cb6;
}

.chat_people{ overflow:hidden; clear:both;}

.chat_img {
  float: left;
  width: 22%;
}

.chat_img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    max-width: 45px;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 78%;
}


.chat_ib h5{ font-size:15px; color:#359cb6; margin:0 0 8px 0;font-weight: bold;height: 100%;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:13px; color:#78849e; margin:auto;font-weight: bold;}

.chat_list:hover .trash{
    display: block;
}

.chat_list .trash{
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.new_msg {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    top: 0;
    right: 0;
    background: #32a4ea;
}

.chat_list:hover {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #e9eff5, #ffffff);
}


@media (max-width: 767px) {
    .users .person .user img {
        width: 30px;
        height: 30px;
    }
    .users .person p.name-time {
        display: none;
    }
    .users .person p.name-time .time {
        display: none;
    }
}


/*********************************************************************************************
									Chat right side
*********************************************************************************************/
.chat-container {
    position: relative;
    background: white;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #efefef;
}

.chat-container li.chat {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
}

.chat-avatar img {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    top:-18px;
    left: 10px;
    z-index: 1;
}


.chat-container li .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #f1f1f1;
    border-radius: 4px;
    font-weight: 300;
    line-height: 150%;
    position: relative;
    width: 90%
}
.chat-container li .chat-text:hover .trash {
    display:block;	
}

.chat-container .trash{
    display: none;
    position: absolute;
    bottom: -6px;
    right: 0px;
}

.chat-container li .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .5rem;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    margin: 0 0 0 15px;
}


@media (max-width: 767px) {
    .chat-container li.chat-left,
    .chat-container li.chat-right {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .chat-container li img {
        width: 32px;
        height: 32px;
    }
    .chat-container li.chat-left .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
    .chat-container li.chat-left .chat-hour {
        justify-content: flex-end;
    }
    .chat-container li.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container li.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
    }
    .chat-container li.chat-right .chat-hour {
        justify-content: flex-start;
        order: 2;
    }
    .chat-container li.chat-right .chat-name {
        margin-right: 5px;
    }
    .chat-container li .chat-text {
        font-size: .8rem;
    }
}

.chat-form {
    padding: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid white;
}

.chatContainerScroll {
    list-style-type: none;
    margin: 0;
    padding: 30px 10px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height : 600px;
}