// General styles for all the site

// hide calendar icon on <input date> fields
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.card {
    border-radius: 10px;
}

.swal-button--confirm{
    background-color: $primary-color;
}

.photo-container{
    height: 400px;
    background-color: $primary-color;
    background-size:cover;
    background-position: top center;
    border-radius: 10px;

    &.low{
        height: 200px;
    }
}

.bigBtn{
    width: 100%;
    color: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .far, .fas{
        font-size: 200px;
    }
}