// General styles for all the site

// hide calendar icon on <input date> fields
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.card {
    border-radius: 10px;
}

.swal-button{
    background-color: $primary-color;
}