// General styles for all the site
body{
    color: #595858;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
}

.help-text{
    font-size: 1.15rem;
}

.dropdown-menu
{
    border: none;

    .item{
        color: #00000080;
        margin-bottom: 15px;

        .fas, .far {
            font-size: 21px;  
            padding: 0 10px 0 20px;  
            min-width: 61px;
            text-align: center;
        }
    }
}

.navbar{
    padding: 10px;
    z-index: 10;
}

.navbar-light .navbar-nav .nav-link {
    color: #505869;
    letter-spacing: .2px;
}

.top-bar{
    background-color: $primary-color;
    border-bottom: 10px solid $secondary-color;
    color: #fff;
    font-size: 18px;
    z-index: 9;
    margin-bottom: 20px;

    .name{
        font-weight: bold;
        font-size: 22px;
        text-shadow: #777 2px 2px;
    }

    .photo{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-left: 20px;
        background-size: cover;
        background-position: top center;
    }
}

.sidebar{
    background-color: #fff;
    height: 90vh;
    padding: 70px 0;
    margin-left: -10px;
    margin-top: -70px;
    z-index: 0;
    position: sticky;
    top: 0;

    .item{

        color: #505869;
        text-decoration: none;
        padding: 20px 25px;
        text-align: right;

        &:hover, &.active{
            color: #32a4ea;
            background-color: #f7f7fa;
        }

        span{
            display: inline-block;
            text-align: left;
            width: 150px;
            padding-left: 10px;
        }

        i{
            font-size: 20px;
        }
    }
}

// hide calendar icon on <input date> fields
input[type="date"]::-webkit-calendar-picker-indicator,input[type="time"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


// remove arrow from input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label.error{
    font-size: 11px;
}



.card {
    border:none;
    border-radius: 10px;
}

.swal-button--confirm{
    background-color: $primary-color;
}

.photo-container{
    height: 400px;
    background-color: $primary-color;
    background-size:cover;
    background-position: top center;
    border-radius: 10px;

    &.low{
        height: 200px;
    }
}

.btn{
    border-radius: 99px !important;
    padding: 7px 25px;
}

.bigBtn{
    width: 100%;
    color: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .far, .fas{
        font-size: 200px;
    }
}

footer {
    text-align: center;
    margin: 4em 0 2em 0;
    font-size: 12px;
    padding: 0 10%;
}

/******************************* MOBILE *********************************/
@media (max-width: 576px) {
    .navbar-collapse{
        margin-top: 30px;
    }
}


.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.slick-prev, .slick-next {
    z-index: 10;
}

.document-card{
    margin-bottom: .5rem;
    cursor: pointer;
}

#home{
    .card-body{
        display: grid;
    
        .card-text{
            display: grid;
            align-content: space-between;
        }
    }
}

.document-card .card-body{
    padding: 10px 0px 10px 50px;
}

.document-card.si{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #369bb6;
}

.document-card.no{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #d36582;
}

.document-card::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 100;
    content: "\f15c";
    display: inline-block;
    padding: .25em .4em;
    font-size: 1.5rem;
    position: absolute;
    top: 10%;
    left: 2%;
}


.document-card.si::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 100;
    content: "\f058";
    display: inline-block;
    padding: .25em .4em;
    font-size: 1.5REM;
    position: absolute;
    top: 10%;
    right: 2%;
}

.document-card.no::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 100;
    content: "\f111";
    display: inline-block;
    padding: .25em .4em;
    font-size: 1.5REM;
    position: absolute;
    top: 10%;
    right: 2%;
}
.t1{
    margin-bottom: 0.01rem;
    font-weight: bold;
    margin-right: 1.5em;
}
.t2{
    /* font-family: Gotham; */
    font-size: 12px;  
}

.btn-submit{    
  color: #FFFFFF;

  padding: 12px 21px;
  border-radius: 24px;
  background-color: #369bb6;
}
.carrusel-doc{
    margin: 5px;
    padding: 10px;
    width: 100%;
    max-height: 175px;
    cursor: pointer;
}



fieldset {
    display: none
}

fieldset.show {
    display: block
}

select:focus,
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.tabs {
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer
}

.tabs:hover,
.tabs.active {
    border-bottom: 1px solid #2196F3
}

a:hover {
    text-decoration: none;
    color: #1565C0
}

.box {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px
}

.modal-backdrop {
    background-color: #64B5F6
}

.line {
    background-color: #CFD8DC;
    height: 1px;
    width: 100%
}

@media screen and (max-width: 768px) {
    .tabs h6 {
        font-size: 12px
    }

    #carehub #day_div {
        flex-wrap: nowrap;
        margin-left: -85px;
    }
}